@import "lib/config";

@import "components/fonts";
@import "components/setup";
@import "components/buttons";
@import "components/dropdown";
@import "components/grid";
@import "components/form";

body {
  background: rgba(50,50,50, .95);
  margin: 0;
}

.app {
  max-width: 500px;
  margin: 3em auto;
  background: #fff;
  box-shadow: rgba(0,0,0, .5) 0 2px 10px;
}

.app .form {
  padding: 1.5em 1.5em 1em;
  overflow: visible;
}
.overlay-headline, 
.app .form h1 {
  padding: 1em 1.5em 1em;
  margin: -1.5em -1.5em 1em;
  font-weight: 400;
  background: #e4e3dd;
  color: #222;
}
.app .form > p {
  margin-bottom: 1em;
}
.app .form .field {
  padding-bottom: 1em;
}
.app .form .buttonbar {
  position: static;  
  padding: 0;
  margin-top: .5em;
}
.app .form .buttonbar .buttons {
  padding-top: 1em;
  padding-bottom: 0;
}
