.page-overview-info {
  margin-bottom: 3em;
}
.page-overview-info ul {
  border-top: 1px solid #dedede;  
}
.page-overview-info li {
  position: relative;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #dedede;
  padding: .4em 0;
}
.page-overview-info li:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;  
  width: 3em;
  content: "";
  background: -webkit-linear-gradient(left, rgba(235,235,235,0),rgba(235,235,235,1));
  border-right: .5em solid #ebebeb;
}
.page-overview-info li strong {
  display: inline-block;
  padding-right: .25em;
  font-weight: 400;
}
.page-overview-info small {
  display: inline-block;  
  font-size: 1em;
  color: #777;
}

