/** items **/
.items {
}
.items-headline {
  margin-bottom: .5em;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.items-header {
  position: relative;
}
.items-pagination {
  position: absolute;
  top: -.1em;
  right: 0;
}
.items-pagination a {
  position: relative;
  float: left;
  width: 1.5em;
  height: 1.5em;
  border: 2px solid rgba(0,0,0, .15);
  line-height: .5em;
  margin-left: .25em;
  border-radius: 4em;
  text-indent: -6000px;
  transition: .3s;
}
.items-pagination a:hover {
  border-color: rgba(0,0,0, .3);
}
.items-pagination a:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin-top: -.25em;
  border-top: .25em solid transparent;
  border-bottom: .25em solid transparent;
}
.items-pagination .prev:after {
  border-right: .25em solid #222;
  margin-left: -.15em;
}
.items-pagination .next:after {
  border-left: .25em solid #222;
  margin-left: -.05em;
}

.item {
  position: relative;
  background: #fff;
  margin-bottom: .25em;
}
.item-preview {
  line-height: 0;
}
.item-info {
  overflow: hidden;      
  padding: .5em 1em;
  line-height: 1.25em;
  margin-right: 4em;
}
.item-title,
.item-subtitle {
  font-size: 1em;
  display: inline-block;
}
.item-title {
  font-weight: 600;
  margin-right: .5em;
}
.item-subtitle {
  font-weight: 400;
  color: #777;
  font-size: .9em;
}
.item-title a, 
.item-subtitle a {
  color: inherit;
}
.item-options {
  position: absolute;
  right: 0em;
  top: 0em;
  bottom: 0em;
}
.item-options-toggle {
  position: relative;
  display: block;
  height: 100%;
  width: 2.75em;
  text-indent: -6000px;
}
.item-options-toggle:after {
  position: absolute;      
  content: "";
  top: 50%;
  left: 50%;
  margin-top: -.125em;
  margin-left: -.25em;
  border-top: .25em solid black;
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;
}
.item-options .dropdown:before {
  right: .8em !important;
}

/** Items with small previews on the left **/    
.items.with-small-previews .item {
  white-space: nowrap;
}
.items.with-small-previews .item > * {
  vertical-align: middle;      
}
.items.with-small-previews .item-preview {
  display: inline-block;
  background: #222;
  height: 3em;
  width: 3em;
}
.items.with-small-previews .item-preview img {
  height: 3em;
  width: 3em;
}
.items.with-small-previews .item-info {
  display: inline-block;
  white-space: normal;
  padding: 0 1em;
}  

/** Items with full previews in a grid **/
.items.with-large-previews {
  margin-right: -.25em;
  overflow: hidden;
}
.items.with-large-previews .item {
  width: 50%;
  float: left;
  border-right: .25em solid transparent;
  background: none;
}
@media screen and (min-width: 35em) {
  .items.with-large-previews .item {
    width: 33.33%;
  }
}
@media screen and (min-width: 50em) {
  .items.with-large-previews .item {
    width: 25%;
  }
}
@media screen and (min-width: 75em) {
  .items.with-large-previews .item {
    width: 16.66%;
  }
}
.items.with-large-previews .item-preview {
  position: relative;
  width: 100%;
  padding-bottom: 70%;
  overflow: hidden;
  background: #222;
}
.items.with-large-previews .item-preview img {
  position: absolute;
  width: 100%;
}
.items.with-large-previews .item-preview a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.items.with-large-previews .item-info {
  margin-right: 0;
  background: #fff;
}
.items.with-large-previews .item-info > * {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
.items.with-large-previews .item-options {
  bottom: auto;
}
.items.with-large-previews .item-options-toggle {
  top: 1em;
  right: 1em;
  background: #fff;
  z-index: 100;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
}