.main {
  display: block;
  position: relative;
  padding: 1.5em 2em 4em;
}
.main-subheadline {
  font-weight: 300;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.main-subheadline a:hover {
  color: $color-primary;
}
.main-subheadline .button {
  position: relative;
  float: right;
  top: .3rem;
}
.main-subheadline a:hover .count {
  color: $color-text;
  border-color: $color-text;
}

.main p {
  margin-bottom: 1.5rem;
}

.main hr {
  height: 1px;
  border: 0;
  background: #dedede;
  margin: 2.5rem 0 2rem;
}

.main p.more a {
  border-bottom: 1px solid $color-primary;
}
.main p.more a:hover {
  color: $color-primary;
}