.metabar {
  position: absolute;
  top: 0;
  right: 0;
  width: $width-metabar;
  z-index: 0;
  padding: 1.25em 0 10em 0;
}
.metabar:before {
  position: fixed;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  width: $width-metabar;
  z-index: -1;
  box-shadow: rgba(#fff, .5) -1px 0 0;
  border-left: 1px solid #ddd;
}

.metabar-section {
  padding: 0 2em 1.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;
  box-shadow: rgba(#fff, .5) 0 1px 0;
}
.metabar-section-headline {
  padding: .25em 0;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}
.metabar-section.url a {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .9em;
  color: $color-text-light;
}
.metabar-section.url a:hover {
  color: $color-text;
}

.metabar .files li {
  list-style: none;
  margin-bottom: .25em;
}
.metabar .files li a {
  overflow: hidden;
  display: block;
  background: #fff;
  padding: .25em 1em .1em;
  border-radius: 2em;
  margin: 0 -.2em;
}
.metabar .files strong {
  float: left;
  font-weight: 400;
}
.metabar .files small {
  float: right;
  line-height: 1.8em;
}

.metabar .dropzone {
  margin-top: .5em;
  padding: 23% 0 25%;
}
