/* topbar */
.topbar {
  margin: 0 auto;
  padding: 0 2em;
  @extend .clear;
}
.topbar:before {
  position: absolute;
  left: 0;
  right: 0;
  height: 55px;
  content: "";
  z-index: -1;
  background: #fff;
  box-shadow: rgba(0,0,0, .1) 0 1px 2px;  
}
.topbar-avatar {
  float: right;
  position: relative;
}
.topbar-avatar > a {
  display: block;
  line-height: 0;
  padding: .45em 0 .46em;
}
.topbar-avatar .dropdown {
  right: 0;
  min-width: 100%;
}
.topbar-avatar .dropdown:before {
  right: .75em !important;
}
.topbar-avatar img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.topbar-dropdown {
  position: relative;
  float: left;
}
.topbar-dropdown > a {
  display: block;
  padding: 1.1em 0 1em;
}
.topbar-dropdown > a i {
  display: block;
  line-height: 0;
  text-indent: -6000px;
  width: 1.5em;
  height: 3px;
  background: $color-text;
  margin-bottom: 4px;
  transition: background .2s;
}
.topbar-dropdown > a:hover i {
  background: $color-text-light;
}