.page {
  height: 80px;
}

.page-num {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  line-height: 80px;
  width: 80px;
  height: 80px;
  color: #555;
  background: #151515;
  cursor: pointer;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 2em;
}
.page-num.has-thumb span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, .5);  
  color: #ccc;
  z-index: 1;
}
.page-num:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.page-tabs {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: 2.75em;
  left: 80px;  
  border-top: 1px solid #ddd;
  z-index: 1;
}
.page-tabs li {
  position: relative;
  width: 33.33%;
  float: left;
  list-style: none;
  border-right: 1px solid #ddd;
  margin-bottom: 0;
  padding: .3em 1em;
}
.page-tabs li:last-child {
  border-right: 0;
}
.page-tabs li a {
  color: #777;
  font-weight: 300;
  font-size: .9em;
  display: block;
}
.page-tabs li a:hover {
  color: #222;
}
.page-tabs li small {
  float: right;
  color: #999;  
}

.page-info {
  padding: .8em 1em;
  line-height: 1.25;
  margin-left: 80px;
  margin-right: 3em;
  overflow: hidden;
}