.blank {
  text-align: center;
  padding: 3em;
}
.blank-box {
  display: inline-block;
  padding: 1.5em;
  text-align: center;
}
.blank-box p {
  margin-bottom: 1.5em;
}
.blank-box button {
  margin: 0 .1em;
}