.dropdown {
  position: absolute;
  right: 0;
  background: #151515;
  z-index: 100;
  white-space: nowrap;
  box-shadow: rgba(0,0,0, .2) 0 2px 10px;
  display: none;
  text-align: left;
  font-size: 1em;
  margin-bottom: 6em;
}
.dropdown.is-left-aligned {
  right: auto;
  left: 0;
}
.dropdown:before {
  position: absolute;
  content: "";
  top: -.5em;
  right: .55em;
  border-left: .5em solid transparent;
  border-right: .5em solid transparent;
  border-bottom: .5em solid #151515;
}
.dropdown.is-left-aligned:before {
  left: .55em;
  right: auto;
}
.dropdown.up:before {
  top: auto;
  bottom: -.5em;
  border-bottom: none;
  border-top: .5em solid #151515;
}
.dropdown.has-two-columns {
  min-width: 300px;
}
.dropdown.has-two-columns ul {
  float: left;
  width: 50%;
}
.dropdown.has-two-columns ul.left li {
  border-right: 1px solid #333;
}
.dropdown li {
  list-style: none;
}
.dropdown li a {
  color: #fff;
  display: block;
  font-size: .9em;
  padding: .4em 1.5em;
  border-bottom: .1em solid #333;
}
.dropdown li a:hover {
  background: #222;
}
.dropdown li:last-child a {
  border: 0;
}