.editbar {
  z-index: 100;
  clear: both;
  margin-bottom: 1.5em;
  border-top: 1px solid rgba(0,0,0, .1);
  margin-top: 2.5em;
}
.editbar-content {
  padding: 1.5em 0;
  overflow: hidden;
  z-index: 1;
}

.editbar-content-left {
  float: left;
}
.editbar-content-left button {
  margin-right: .4em;
}
.editbar-content-right {
  float: right;
}
.editbar-content-right button {
  margin-left: .4em;
}
