* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "source-sans-pro", Helvetica, Arial, sans-serif;
}

body {
  position: relative;
  font-size: 100%;
  color: #222;
  background: #fff;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #222;
  transition: color .3s;
}

a:hover {
  color: #222;
}

img {
  border: 0
}

.is-hidden {
  display: none;
}

.is-visible {
  display: block !important;
}

h1, h2, h3, h4 {
  font-size: 1em;
}

/* For modern browsers */
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.clear {
  zoom:1;
}
