.images {
  background: #222;
  margin: -1em -1.5em -.5em;
  padding: 2em 1.5em .5em;
}
.images figure {
  text-align: center;
  padding-bottom: 1em;
  color: #fff;
  cursor: pointer;
}
.images figure div {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.images figure span {
  width: 100px;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: #000;
  line-height: 0;
}
.images figcaption {
  padding-top: .5em;
  font-size: .9em;
  color: #999;
  transition: color .3s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.images figure:hover figcaption {
  color: #fff;
}

.form .buttonbar .buttons {
  border-top: 0;
}

.blank {
  text-align: center;
  padding-bottom: 1.5em;
}
.blank-box {
  color: #999;
}