.form .buttonbar {
  z-index: 100;
  padding: 0;
  background: #fff;
  clear: both;
}
.form .buttonbar .buttons {
  border-top: .1em solid #e4e3dd;
  margin: 0 -1.5em;
  padding: 1.5em 1.5em 0;
}
@media screen and (min-width: 800px) {
}
.form .buttonbar .submit {
  float: right;
}
