.user-profile-headline {
  margin-bottom: 1.5em !important;
}
.user-profile {
  position: relative;
  overflow: hidden;
  padding-bottom: 1em;
}
.user-profile dl {
  overflow: hidden;
  margin-left: 140px;
  border-top: 1px solid #ddd;
}
.user-profile dl dt {
  float: left;
  clear: both;
  width: 30%;
  border-bottom: 1px solid #ddd;
  padding: .4em 0;
}
.user-profile dl dd {
  float: left;
  border-bottom: 1px solid #ddd;
  width: 70%;
  padding: .4em 0;
  white-space: nowrap;
}
.user-profile figure {
  position: absolute;
  top: 0;
  left: 0;
}
.user-profile figure img {
  width: 114px;
  height: 114px;
  border-radius: .3em;
}