.form label {
  display: block;
  margin-bottom: .5em;
  font-weight: 400;
  color: #222;
}
.form label.inline {
  position: relative;
  padding: .4em .6em .4em 2.5em;
  color: #222;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.form label.inline input {
  position: absolute;
  top: .52em;
  left: .6em;
  width: auto;
}
.form .checkbox.field label.inline input {
  top: .62em;
}
