.form .select select {
  z-index: 1;
  cursor: pointer;
  width: 100% !important;
  opacity: 0;
}
.form .customSelect {
  position: relative;
  width: 100%;
  padding: .4em .4em .4em .8em;
  z-index: 0;
  border-left: 1px solid #e4e3dd;
  margin-left: 2.5em;
}
.form .select .wrapper {
  position: relative;
  box-shadow: rgba(0,0,0, .09) 0 1px 4px, rgba(255,255,255, .5) 0 1px 0;
}
.form .select .wrapper:before {
  position: absolute;
  top: 50%;
  left: .9em;
  margin-top: -.2em;
  content: "";
  border-left: .4em solid transparent;
  border-right: .4em solid transparent;
  border-top: .4em solid #222;
  pointer-events: none;
  transition: border-top-color .3s;
}