.main-headline-container {
  position: relative;
  border-bottom: .15em solid rgba(0,0,0, .3);
  padding: 1.5em 0 1em;
}
.main-headline a {
  font-size: 2.5em;
  font-weight: 300;  
}

.main-headline-container.has-back-button {
  padding-left: 65px;
}
.main-headline-container.has-options {
  padding-right: 65px;
}
.main-headline-container .back {
  position: absolute;
  text-align: center;
  line-height: 1.4em;
  left: 0;
  top: 0;
  bottom: 0;
  font-size: 3em;
  font-weight: 300;
  width: 46px;
  border-right: 1px solid rgba(0,0,0, .1);
}
.main-headline-container .back:hover {
  color: #222;
}

.main-headline-container .options .toggle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 46px;
  border-left: 1px solid rgba(0,0,0, .1);
  text-indent: -6000px;
  background: url(../images/edit.black.svg) no-repeat center center;
}
