@import "lib/config";

@import "components/fonts";
@import "components/setup";
@import "components/buttons";
@import "components/dropdown";
@import "components/grid";
@import "components/topbar";
@import "components/overlay";
@import "components/header";
@import "components/editbar";
@import "components/form";
@import "components/items";
@import "components/pages";
@import "components/assets";
@import "components/users";
@import "components/blank";
@import "components/pagination";

body {
  background: #e4e3dd;  
}

body.has-overlay {
  overflow: hidden;
}

/* main content panel */
.main {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em 4em;
}

@media screen and (min-width: 800px) {

}

/* content below tabs and topbar */
.content {
  position: relative;
  margin: 0 auto;
  padding: 3em 0;
  clear: both;
}
