/**
 * Custom variables
 */
@import "ui/vars";

/**
 * Kirby Sass framework
 */
@import "kirby/bootstrap";

/**
 * Generics
 */
@import "ui/generic/reset";

/**
 * Base stuff
 */
@import "ui/base/fonts";
@import "ui/base/links";
@import "ui/base/headings";
@import "ui/base/grid";


/**
 * Objects
 */
@import "ui/objects/form";
@import "ui/objects/dropdown";
@import "ui/objects/buttons";

body {
  background: rgba(50,50,50, .95);
  margin: 0 2em;
}

.main {
  max-width: 500px;
  margin: 2em auto;
  box-shadow: rgba(0,0,0, .5) 0 2px 10px;
  background: $color-background;
}

.main .form {
  padding: 1rem 2rem 2rem;
  overflow: visible;
}
.main-headline {
  padding: 1rem 2rem 1rem;
  font-weight: 600;
  background: #fff;
  color: #222;
}
.main-intro {
  padding: 1rem 2em 0; 
  margin-bottom: -1.75em;
}
.main .form > p {
  margin-bottom: 1em;
}
.main .form-field {
  margin-bottom: 1em;
}
.main .form-field-label {
  padding-bottom: .25em;
}
.main .form-fieldset.is-buttonbar {
  margin: 2em -2em -2em;
  padding: .9em 2em;
  background: #fff;
}

