/**
 * Custom variables
 */
@import "ui/vars";

/**
 * Kirby Sass framework
 */
@import "kirby/bootstrap";

/**
 * Generics
 */
@import "ui/generic/reset";
@import "ui/generic/fonts";
@import "ui/generic/links";

/**
 * Objects
 */
@import "ui/objects/form";
@import "ui/objects/grid";
@import "ui/objects/dropdown";
@import "ui/objects/buttons";

body {
  background: rgba(50,50,50, .95);
  margin: 0;
}

.main {
  max-width: 500px;
  margin: 3em auto;
  box-shadow: rgba(0,0,0, .5) 0 2px 10px;
  background: $color-background;
}

.main .form {
  padding: 1rem 2rem 2rem;
  overflow: visible;
}
.main-headline {
  padding: 1rem 2rem 1rem;
  font-weight: 600;
  background: #fff;
  color: #222;
}
.main-intro {
  padding: 1rem 2rem 0; 
}
.main .form > p {
  margin-bottom: 1em;
}
.main .form-field {
  margin-bottom: 1em;
}
.main .form-fieldset.is-buttonbar {
  padding-bottom: 0;
}

