/** 
 * Overwrites
 */ 

$color-primary:    red;
$color-background: #ebebeb; // #e4e3dd;
$color-text-light: #777;

$font-family-primary: "source-sans-pro";

/** 
 * Custom variables
 */ 

$dropdown-shadow: rgba(0,0,0, .3) 0 2px 10px;

$width-main: 50em;

$size-h1: 32px;
$size-h2: 24px;
$size-h4: 16px;