.assets {
  position: relative;
  text-align: center;
}
.assets li {
  width: 100%;
  list-style: none;
  float: left;
}

@media screen and (min-width: 400px) {
  .assets li {
    width: 50%;
  }
}

@media screen and (min-width: 900px) {
  .assets li {
    width: 33.334%;
  }
}

@media screen and (min-width: 1040px) {
  .assets li {
    width: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .assets li {
    width: 20%;
  }
}

@media screen and (min-width: 1340px) {
  .assets li {
    width: 16.667%;
  }
}


.asset {
  display: inline-block;
  position: relative;
  width: 10em;
  height: 13.5em;
  margin-bottom: 1.5em;
  text-align: center;
}
.asset-preview {
  width: 10em;
  height: 10em;
}
.asset-preview a {
  display: table-cell;
  width: 10em;
  height: 10em;
  vertical-align: middle;
  line-height: 0;
  border: .15em solid transparent;
  border-radius: .4em;
  padding: .5em;
  transition: border-color .3s;
}
.asset-preview a:focus {
  outline: none;
}
.asset:hover img,
.asset-preview a:focus img {
  box-shadow: #89b3d9 0 0 .1em .2em;
  border: .1em solid rgba(0,0,0, .1);
  border-radius: .1em;
}
.asset:hover img {
  box-shadow: rgba(0,0,0, .2) 0 0 .1em .2em;
}
.asset-preview img {
  max-width: 100%;
  max-height: 100%;
  line-height: 0;
  overflow: hidden;
  border: 1px solid transparent;
  transition: box-shadow .2s;
}
.asset-preview a small {
  display: inline-block;
  font-weight: 600;
  width: 5em;
  height: 5em;
  line-height: 5em;
  border-radius: 50%;
  background: #e4e3dd;
  text-transform: uppercase;
  border: .1em solid #fff;
  transition: box-shadow .2s;
}
.asset-preview a:focus small {
  box-shadow: #89b3d9 0 0 .1em .25em;
}
.asset:hover .asset-preview a small {
  box-shadow: rgba(0,0,0, .15) 0 0 .1em .25em;
}

.asset-meta {
  height: 3em;
  margin-top: .5em;
  font-size: .9em;
  line-height: 1.25em;
  overflow: hidden;
}
.asset-headline {
  font-weight: 400;
}
.asset-headline a {
  display: block;
  white-space: nowrap;
  margin: 0 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.asset-info a {
  color: #b5b4b0;
  font-weight: 300;
}