/** pages */
.page {
  height: 55px;
}
.page-num {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  line-height: 55px;
  width: 55px;
  height: 55px;
  color: #777;
  background: #151515;
  cursor: move;
  font-weight: 400;
  font-size: 1em;
}
.page-num.has-thumb span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, .5);  
  color: #ccc;
  z-index: 1;
}
.page-num:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.page-info {
  padding: .4em .6em;
  margin-left: 4em;
}

.navbar .breadcrumb {
  float: left;
}
.navbar header {
  position: relative;
  float: left;
}
.navbar .alpha {
  font-size: 1em;
  line-height: 1.3em;
}
.navbar .alpha a {
  position: relative;
  padding-left: 0;
}
.navbar .alpha a:after {
  position: absolute;
  right: -.6em;
  top: .6em;
  content: "";
  border-top: .17em solid #222;
  border-left: .17em solid transparent;
  border-right: .17em solid transparent;
}
.navbar .alpha small {
  font-size: 1em;
  font-weight: 400;
}
.navbar .dropdown {
}